body{
    background-color: #0faa01;
}

h1{
    color: #ffffff;
    background-color: #0faa01;
    text-align: center;
    font-size: 50px;
}

h2{
    color: #ffffff;
    background-color: #0faa01;
    text-align: center;
    font-size: 50px;
}